@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
* {
  font-family: Poppins, sans-serif;
  text-decoration: none;
}

.header {
  background-color: #fc8019;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 0 11px 4px #a08670;
}

.header .cart {
  font-size: larger;
}

.footer {
  background-color: #fc8019;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  box-shadow: 0 0 11px 4px #a08670;
}

.footer > p > a {
  color: #000;
  text-decoration: none;
}

.logo > img {
  width: 75px;
  padding-left: 15px;
}

.right-nav > img {
  width: 75px;
  padding-right: 5px;
}

.right-nav > ul {
  padding-right: 8px;
  list-style: none;
  display: flex;
}

.right-nav > ul > li {
  cursor: pointer;
  background: #ffc08b;
  border-radius: 7px;
  margin: .2rem;
  padding: 2px;
}

.right-nav > ul > li > .link {
  color: #000;
  text-decoration: none;
}

.auth-btn {
  background: none;
  border: none;
}

.logo img:hover {
  transform: scale(1.23);
}

.search-bar {
  justify-content: center;
  display: flex;
}

.search-bar > input {
  width: 20em;
  border-radius: 30px;
  margin: .9rem 0;
  padding: .5rem;
}

.search-bar > button {
  background-color: #f5bc8c;
  border-radius: 0 8px 8px 0;
  margin: .9rem 0;
  padding: .5rem;
}

.search-bar > button:hover {
  color: #fc8019;
  background-color: #46403a;
}

.app-body, .shimmer {
  height: 100%;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.not-app-body {
  height: 100%;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.5rem auto;
  display: flex;
}

.card {
  color: #000;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.card > img {
  width: 100%;
}

.no-data > img {
  height: 30rem;
}

.router-err {
  text-align: center;
  cursor: pointer;
  background: #ffc08b;
  border-radius: 7px;
  margin: .2rem;
  padding: 2px;
}

.card:hover {
  box-shadow: 0 2px 5px 3px #2a2a2a33;
}

.card > span {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fc8019;
  padding: 3px;
  font-size: small;
}

.star {
  width: 16px;
  position: relative;
  top: 2px;
}

.shimmer > .card {
  height: 350px;
  width: 200px;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 8px #0000001a;
}

.media {
  height: 150px;
}

.p-32 {
  padding: 32px;
}

.title-line {
  height: 24px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 12px;
}

.content-line {
  height: 8px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.end {
  width: 40%;
}

.shimmerBG {
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%) 0 0 / 1200px 100%;
  animation-name: shimmer;
  animation-duration: 2.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.m-t-24 {
  margin-top: 24px;
}

.restaurant-header {
  background-color: #f5bc8c;
  border-radius: 10px;
  justify-content: space-around;
  margin: 2rem;
  padding: 2rem;
  display: flex;
}

.restaurant-header > div > img {
  height: 10rem;
  border-radius: 20px;
  padding-left: 15px;
}

.item-card {
  width: 320px;
  cursor: pointer;
  border: .2px solid gray;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.item-card > img {
  width: 100%;
}

/*# sourceMappingURL=index.9e4c6fd2.css.map */
